@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

.slidev-layout {
  font-family: 'PT Serif', 'Noto Serif JP', serif;
}

.slidev-layout blockquote {
  margin-block: 1em;
}

.slidev-layout blockquote p {
  margin-block: 0.75em;
}
